@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, Arial, Poppins, Roboto !important;
}

/* html {
  font-size: 90% !important;
} */
:root {
  --black: #202142;
  --side-body: #212121;
  --hover-side-bar-active: rgb(61 56 56 / 0.8);
}

.image-item {
  width: 100%;
  height: 200px;
  background-color: white;
  border: 1px solid black;
}
body {
  color: white;
  background: var(--side-body);
}

.css-10hburv-MuiTypography-root {
  font-weight: 300;
  font-size: 0.9rem !important;
}
fieldset {
  border-color: transparent !important;
}
label {
  color: white !important;
  /* font-size: 1rem !important; */
}
/* input-styling */
.MuiInputBase-input {
  color: white !important;
  font-size: 0.89rem !important;
}

.MuiInputBase-input::placeholder {
  color: white !important;
  opacity: 0.8 !important;
  font-size: 12.5px !important;
}

.active_nav {
  background: var(--hover-side-bar-active);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 55%;
    border-radius: 0.5rem;
    left: 0;
    background: turquoise;
  }
}
/* checking for checked */

/* overide-mui-padding- */
.MuiListItemButton-root {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

/* status_chech */
.badge_status {
  /* min-width: unset !important; */
  height: 8px;
  width: 8px;
  border-radius: 50%;
  /* position: relative !important; */
  /* margin-top: 9px; */
  /* padding: 0 !important; */
  /* aspect-ratio: 1 / 1 !important; */
}
